<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumes</title>
</head>
<body>

    <h2>Listado de Albumes</h2>
    <hr>
    <% albumList.forEach(album => { %>
        <h2>Id: <%= album.id %></h2>
        <h2>Nombre: <%= album.nombre %></h2>
        <h2>Duracion: <%= album.duracion %></h2>
        <hr>
        
        <% }); %>
</body>
</html>