<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
</head>
<body>

    <h2>Listado de Artistas</h2>
    <hr>
    <% artistaList.forEach(artista => { %>
        <h2>Id: <%= artista.id %></h2>
        <h2>Nombre: <%= artista.nombre %></h2>
        <h2>Apellido: <%= artista.apellido %></h2>
        <hr>
        <% }); %>
</body>
</html>