<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar cancion</title>
</head>
<body>
    <main>
        <section>
            <h2>Crear una nueva pelicula</h2>
            <div id="form-container">
                <form action="/canciones/crear" method="post"></form>
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo">
                <br>
                <label for="duracion">Duración</label>
                <input type="number" name="duracion">
                <br>
                <label for="genero">Genero</label>
                <select name="genero">
                    <option value="1">Pop</option>
                    <option value="2">Reggaeton</option>
                    <option value="3">Salsa</option>
                    <option value="4">Rock</option>
                    <option value="5">Bachata</option>
                    <option value="6">Merengue</option>
                    <option value="7">Vallenato</option>
                    <option value="8">Reggae</option>
                    <option value="9">Urbano</option>
                    <option value="10">Cumbia</option>
                    <option value="11">Salsa Choke</option>
                    <option value="12">Hip Hop</option>
                </select>
                <br>
                <label for="albumnes">Album</label>
                <select name="albunes">
                    <option value="1">For Those About To Rock We Salute You</option>
                    <option value="2">Balls to the Wall</option>
                    <option value="3">Restless and Wild</option>
                    <option value="4">Let There Be Rock</option>
                    <option value="5">Big Ones</option>
                    <option value="6">Jagged Little Pill</option>
                </select>
                <br>
                <label for="artistas">Artistas</label>
                <select name="artistas">
                    <option value="1">Mariette Bearddall</option>
                    <option value="2">Gunther Dreger</option>
                    <option value="3">Kirstyn Eye</option>
                    <option value="4">Florance Swindon</option>
                    <option value="5">Modestine Alldritt</option>
                    <option value="6">Marcy Heeney</option>
                    <option value="7">Aggie Brumham</option>
                    <option value="8">Rosene McArt</option>
                    <option value="9">Antonio Lindman</option>
                    <option value="10">Dora Brasher</option>
                    <option value="11">Deina Mongain</option>
                    <option value="12">Leontine Messent</option>
                    <option value="13">Nadean Blackstock</option>
                    <option value="14">Sibyl Rainon</option>
                    <option value="15">Wallas Mitroshinov</option>
                    <option value="16">Sheri Colbran</option>
                    <option value="17">Jessamine Semechik</option>
                    <option value="18">Gabbie Orcas</option>
                    <option value="19">Blake Sarfat</option>
                    <option value="20">Merv Bess</option>
                </select>
            </div>
            
        </section>

    </main>
</body>
</html>