<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generos</title>
</head>
<body>

    <h2>Listado de Generos</h2>
    <ul>
        <% generoList.forEach((genero) => { %>
            <li><%= genero.name %></li>
            <ul>
                <% if (genero.cancion && genero.cancion.length > 0) { %>
                    
                        <li><%= cancion.id %></li>
                        <li><%= cancion.titulo %></li>
                   
                <% } else { %>
                    <li>Sin canciones</li>
                <% } %>
            </ul>
        <% }); %>
    </ul>
</body>
</html>