*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    font-size: -webkit-xxx-large;
    color: cornsilk;
}
.img{
    background-image: url(/musicando.gif);
    height: 100vh;
    background-size: cover;
}