<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h2>Hola</h2>

    <a href="/canciones">Ver todas las canciones</a>
    <a href="/generos">Ver Generos</a>
    <a href="/artistas">Ver Artistas</a>
    <a href="/albumes">Ver Albumes</a>
    
</body>
</html>